# Dependencies
node_modules/
.pnp
.pnp.js

# Environment and Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
GITHUB_SECRETS.txt
*.pem
*.key

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / Editor files
.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
